# COS6 kick

install
url --url http://mirror.nl.leaseweb.net/centos-vault/6.7/os/x86_64/
text

skipx

keyboard us
lang en_US.UTF-8

network --onboot yes --bootproto static --device eth0 --gateway=217.23.5.1 --ip=217.23.5.173 --nameserver=8.8.8.8 --netmask=255.255.255.0 --noipv6 --hostname=test.example.com
reboot

rootpw --plaintext changeme

#firewall --service=ssh
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled

timezone --utc UTC


bootloader --location=mbr --driveorder=sda
zerombr
clearpart --all --initlabel --drives=sda
part /boot --fstype="ext4" --size=1024 --ondisk=sda 
part swap  --fstype="swap" --size=1024 --ondisk=sda 
part /     --fstype="ext4" --size=1024 --grow --ondisk=sda 

%packages --nobase --ignoremissing
@core
yum
yum-utils
at
which
openssh-clients
openssh-server
wget
nano
%end
